* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

#grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

#btns-container {
    background-color: #3c3c3c;
}

#reset-btn {
    background-color: #a6adc8;
    border: none;
    color: black;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}
