* {
    background: #D0D0D0;
}

#title {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#grid-container {
    display: grid;
    height: 500px;
    width: 500px;
    /* align-items: center; */
    justify-content: center;
    /* border: 1px solid black; */
}

#grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

#reset-btn, #grid-btn {
    margin-bottom: 10px;
    background-color: #a6adc8;
    border: none;
    color: black;
    padding: 12px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}
